extends ../layout

block content
  div(class="flex-container2 f3 col-md-12")
    h1 List of Cars
    div
      table.container.table.table-dark.table-striped.m-b-5
        thead
          tr.text-center
            th #
            th Name
            th Model
            th Used
            th Price
        tbody#cars.body
          each car, index in cars
            tr.text-center
              td=index+1
              td=car.name
              td=car.model
              td=car.used
              td=car.price
              if user
                <td class="col-1"> <button type="button" class="btn btn-danger del-btn float-right" data-toggle="modal" data-target="#deleteModal">Delete</button> </td>
                <td class="col-1"> <button class="btn btn-info float-right edit-cars" data-toggle="modal" data-target="#editCarModal"> Edit </button> </td>
                <td class="col-2"> <button class="btn btn-primary car-cart-btn float-right"> Add to Cart </button> </td>
              
              
    h1 List of Spare Parts
    div
      table.container.table.table-dark.table-striped.m-b-5
        thead
          tr.text-center
            th #
            th Name
            th Company
            th Model
            th Price
        tbody.spareparts.body
          each sparepart, index in spareparts
            tr.text-center
              td=index+1
              td=sparepart.name
              td=sparepart.company
              td=sparepart.model
              td=sparepart.price
              if user
                <td class="col-1"> <button type="button" class="btn btn-danger del-btn float-right" data-toggle="modal" data-target="#deleteModal">Delete</button> </td>
                <td class="col-1"> <button class="btn btn-info float-right edit-spareparts" data-toggle="modal" data-target="#editSparepartModal"> Edit </button> </td>
                <td class="col-2"> <button class="btn btn-primary sparepart-cart-btn float-right"> Add to Cart </button> </td>
