extends ../layout

block content
  div(class="flex-container2 f3 col-md-12")
    h1 List of Cars
    div
      table.container.table.table-dark.table-striped.m-b-5
        thead
          tr.text-center
            th #
            th Name
            th Model
            th Used
            th Price
        tbody
          each car, index in cars
            tr.text-center
              td=index+1
              td=car.name
              td=car.model
              td=car.used
              td=car.price
    
    h1 List of Spare Parts
    div
      table.container.table.table-dark.table-striped.m-b-5
        thead
          tr.text-center
            th #
            th Name
            th Company
            th Model
            th Price
        tbody
          each sparepart, index in spareparts
            tr.text-center
              td=index+1
              td=sparepart.name
              td=sparepart.company
              td=sparepart.model
              td=sparepart.price